[2018-12-03 08:07] pgmsft opened #1 "Uploading screenshot of Ethr"
![ethr_screenshot](https://user-images.githubusercontent.com/44273634/49360895-629cce80-f68f-11e8-967a-ed1f4c0ae6b6.png)

[2018-12-03 15:13] machinemob opened #2 "MacOS Support - go build fails (779d5c1)"
MacOS(Mojave)10.14.1 (18B75)
go1.11.2 darwin/amd64 (homebrew)
ITerm2 Build 3.2.6

$ go build
./serverui.go:88:2: undefined: hideCursor
./serverui.go:89:2: undefined: blockWindowResize
./stats.go:33:2: undefined: getNetDevStats
./stats.go:37:2: undefined: getTcpStats

[2018-12-03 22:45] ipankajg commented on #2
This would need Mac OS support. I don't use Mac so can't fix it. If someone can submit a PR that would be great. A file similar to plt_windows and plt_linux needs to be created for MAC os.

[2018-12-03 22:49] pgmsft commented on #2
This is because currently MacOS is not supported. I don't use Mac so if someone can submit a PR that would be great. You would need to provide a follow for Mac similar to plt_windows and plt_linux.

[2018-12-03 22:49] #1 closed

[2018-12-04 01:31] wusphinx opened #3 "ubuntu build failed"
in my ubuntu
[code]
go version
[code]
and I want to build `Ethr`
[code]
As we can see，`sort.SliceStable` is not supported by go version 1.6.2,  it is supported until [go1.8](https://blog.golang.org/go1.8). So, It will be better if you can add some guidance about go version or other which is supported by `Ethr`

[2018-12-04 03:49] marcoleong opened #4 "Socket connection leak"
### Environment

Ethr version v0.1

- Linux 4.14.81-coreos Container Linux by CoreOS 1911.4.0 Rhyolite Container Linux by CoreOS 1911.4.0 (Rhyolite)
- Intel(R) Xeon(R) CPU E5-2650 v3 @ 2.30GHz GenuineIntel GNU/Linux

### What happend ?

Network performance degraded after socket reached CPU core limit. User have to restart server process to have normal performance data.

The connections will stuck

[2018-12-04 04:44] pgmsft commented on #3
Thank you for reporting this issue, will update the documentation tomorrow.

[2018-12-04 04:45] pgmsft commented on #4
Thank you for reporting the issue. I would take a look at it tomorrow.

[2018-12-04 07:43] snobu opened #5 "vs. iperf?"
How does this compare to the "standard", meaning [iperf3](https://iperf.fr/iperf-download.php)?
May i suggest you add a few words about that to the README? This isn't about which is better, it's more about how is this different.

[2018-12-04 12:51] pgmsft commented on #5
I have added a small section there as a richer comparison maybe better done in a blog post. The short summary is that for TCP bandwidth measurements, Ethr is similar to iPerf3. The main difference is that Ethr is multi-threaded (by using goroutines) and can scale much better. For example, it can go to 1024 parallel streams whereas iPerf3 doesn't allow beyond 64. On the other hand, iPerf3 has a lot

[2018-12-04 12:51] #5 closed

[2018-12-04 13:10] pgmsft commented on #3
I have updated the documentation. Is it ok to close the issue?

[2018-12-04 14:03] wusphinx commented on #3
:+1:Well done

[2018-12-04 14:03] #3 closed

[2018-12-04 15:04] pgmsft commented on #4
Thank you again for reporting the issue. This is fixed by the following commit: 6ea7c76e3b4b9562e2b25b4a0c8f5b1663148a28

[2018-12-04 15:04] #4 closed

[2018-12-04 16:50] abshammeri opened #7 "How to test the performance of a custom TCP Protocol"
EPP/TCP is a custom tcp protocol, which is connection oriented tcp protocol with a custom decoder/encoder.

https://tools.ietf.org/html/rfc5734

Does Ethr help in this case to calculate the number of requests per second ?

[2018-12-05 02:36] sangyun-han opened #9 "Suggestion about using cobra cli"
Now it has just simple cli arguments, how about using a modern cli command such as [cobra](https://github.com/spf13/cobra) for the future

[2018-12-05 09:36] pgmsft commented on #9
Thanks for the suggestion. We will evaluate this in future.

[2018-12-05 17:57] hellt commented on #2
the key here would be to find how one can get interface counters on a mac os x, since it has no `/proc`

[2018-12-05 18:21] pgmsft commented on #2
Yes, either we can add dummy implementation and the stats feature doesn't work, which is optional and only used in UI view on server, or we can find ways to build it e.g. by referring to netstat code. I believe OSX uses some API for such information.

[2018-12-06 11:16] gedw99 opened #13 "Export metrics"
Any plans to support exporting the metrics to Prometheus ?

Would allow this to be deployed to servers to track network stats over time. Quite useful.

[2018-12-06 11:17] gedw99 opened #14 "Export metrics"
Any plans to support exporting the metrics to Prometheus ?

Would allow this to be deployed to servers to track network stats over time. Quite useful.

[2018-12-06 11:17] gedw99 commented on #14
Oops duplicate

[2018-12-06 11:17] #14 closed

[2018-12-06 11:19] pgmsft commented on #13
Sure, please submit a PR if you would like to. Otherwise we will add it to backlog for future enhancements.

[2018-12-06 19:06] j1348 opened #15 "How to change default port in server mode?"

[2018-12-06 20:33] slayer opened #16 "Specify packet size"
Hi

It is very useful to test bandwidth on different packet sizes. So it will be best to have special option for that.

Also, as idea: auto-test bandwidth with different packet sizes: 64, 128, 256...1500 or even jumbo frames.

[2018-12-07 03:18] pgmsft commented on #16
Does -l option not work?

[2018-12-07 03:19] pgmsft commented on #15
It is not supported right now. Ethr listens on specific ports only.

[2018-12-07 03:33] mfrw opened #18 "Build Failure"
after a fresh git clone
doing `go build` fails with the following error

[code]

[2018-12-07 03:35] mfrw commented on #18
Sorry using a mac :(

[2018-12-07 03:35] #18 closed

[2018-12-07 04:39] #16 closed

[2018-12-07 11:10] MikhailKasimov opened #19 "openSUSE Leap 15 (server) + Ubuntu 18.04 and Win 7 (clients)"
Hello!

```README.md``` can be updated -- have successfully tested on ```openSUSE Leap 15``` (as a server) + ```Ubuntu 18.04``` and ```Windows 7 SP 1``` ( as the clients).

Binaries were downloaded from links of ```Download``` section.

Here left is ```openSUSE Leap 15``` machine and ```Ubuntu 18.04``` on the right hand.
![imag1288](https://user-images.githubusercontent.com/7167300/49644357-ddb00d

[2018-12-07 13:13] pgmsft commented on #2
This is great, thanks @fsouza. I can merge the PR once it is ready. Please note: hideCursor may just need to call tm.HideCursor or move it to 0,0 row, column. blockWindowResize is optional and it is not implemented on Linux either.

[2018-12-07 17:34] pgmsft commented on #19
Updated readme fe0524d50497e2751e65fb4690dc12817a56730b

[2018-12-07 17:34] #19 closed

[2018-12-07 17:38] pgmsft opened #20 "Add support for UDP based throughput testing"
For UDP, only packets/s is supported right now. It would be good to add throughput testing support for it.

[2018-12-07 17:39] pgmsft opened #21 "Add UDP based latency testing."
For UDP, only packets/s is supported right now. It would be good to add latency testing support for it.

[2018-12-08 00:21] golmaall commented on #2
@pgmsft , @fsouza  I can help with this

[2018-12-08 02:47] pgmsft opened #24 "Modularize code for various protocols"
The code needs to be modularized to have interface for protocols and handlers for running Bandwidth/Latency/CPS/PPS tests for those protocols. Right now the code is not using clean abstractions.

For example, we should have something like:
type ethrProto interface{
func runBandwidthTest(param…)
func runLatencyTest(param…)
}

type ethrProtoTcp struct {
}

func (p *ethrProtoTcp) runBandwidth(param…)

[2018-12-09 11:40] dreness commented on #2
@fsouza hiya - I gave your fork a try, and in general it seems to work fine, although in server mode, the interface stats are quite inaccurate. Here's a short demo of the server view: https://asciinema.org/a/215997

The data reported by the client is accurate.

[2018-12-09 13:32] fsouza commented on #2
@dreness oh 😱 I'll investigate what's going on later today or tomorrow, thanks for trying it out!

[2018-12-09 17:49] fsouza commented on #2
@dreness it should be good now, I did something wrong when generating ifMsghdr2, it was missing padding and the underlying bytes were getting interpreted incorrectly.

[2018-12-10 01:33] pgmsft commented on #2
Closing the issue, as this is mostly fixed by: 6fcc37915d10441824772ddcf94f521480a2ba7a

[2018-12-10 01:33] #2 closed

[2018-12-10 01:34] pgmsft opened #28 "MacOS TCP statistics support"
The current Mac OS support does not return TCP stats. This enhancement will bring Mac support on par.

[2018-12-10 13:35] brookesdjb commented on #15
+1 It would be great to be able to change the ports, Couchbase currently uses the same ports (9998 specifically) so it cant be run at the same time

[2018-12-10 18:10] girishmotwani commented on #28
I have a Patch for this

[2018-12-11 00:15] girishmotwani commented on #28
https://github.com/Microsoft/Ethr/pull/30

[2018-12-11 05:51] lylex opened #31 "Bad error message when bad duration passed in"
When I try the client, I find it raises a bad error message when I pass in a bad duration for `-d` option, e.g. `./Ethr -c 10.29.96.153 -d 10`.

And the error message is `Invalid value "%!s(*string=0xc000097cc0)" specified for parameter "-d".`

[2018-12-11 05:51] lylex commented on #31
I will submit a PR since it is a tiny bug.

[2018-12-11 06:48] lylex opened #33 "Lint the code and make it follow the golang conventions"
When I read the code, many warnings raises from my IDE. It looks like it is complaining about the golang naming/comment convention.

If you agree, I will fix them and add a Makefile to make it easy to find/fix.

[2018-12-11 13:01] pgmsft commented on #31
Merged: ca2bbcc

[2018-12-11 13:01] #31 closed

[2018-12-11 13:02] pgmsft commented on #33
Could you please give an example? Based on that I would let you know, if we want to make that change.

[2018-12-11 13:22] lylex commented on #33
@pgmsft Here is some examples:

- Indent

[code]

- Function return
[code]

- Naming

[code]
[code]

- Comment

[code]

[2018-12-11 13:33] pgmsft commented on #33
These changes sounds good, thank you for signing up to do this. Please submit the PR and I would accept.

[2018-12-11 13:47] u5surf commented on #33
@pgmsft @lylex

it should be checked golint command and I will fix all of them later.
[code]

[2018-12-11 14:47] lylex commented on #33
@pgmsft I have fixed them in https://github.com/Microsoft/Ethr/pull/37

[2018-12-11 14:59] lylex commented on #33
@u5surf Sorry, I just noticed your comment. I have finished the replacements. And it is appreciated if you can help to double-check them.

[2018-12-11 21:25] u5surf opened #40 "go vet: unreachable code"
go vet founds unreachable code
[code]
https://github.com/Microsoft/Ethr/blob/e106916f2b3b71442b5421c8823b0475421983af/server.go#L39

[2018-12-12 07:25] carlpett opened #41 "Consider lower-casing repository"
For case-sensitive file systems, having the name title-cased can have some unexpected effects. For example currently, if Ethr is installed with `go install github.com/Microsoft/Ethr` the resulting binary is named `Ethr`, so examples refering to executing `ethr` don't work. Tab-completing from `e` also won't work, of course.

[2018-12-12 07:57] mahaangelmahi commented on #28
Not getting

[2018-12-12 12:12] pgmsft commented on #41
Done.

[2018-12-12 12:12] #41 closed

[2018-12-12 14:41] u5surf opened #43 "proposed : using ci tools"
I propose that this repository should be used continuous integration service.
to check code lint, to be analyzing sorce code(go vet or gofmt) , and test automatically when each pull request will be coming.
e.g. https://docs.travis-ci.com/user/languages/go/
I think travis-ci has a high affinity for github.

[2018-12-12 16:52] #40 closed

[2018-12-12 16:53] pgmsft commented on #43
We will look into this and how to get it setup.

[2018-12-13 10:01] pgmsft commented on #28
Completed by #30

[2018-12-13 10:01] #28 closed

[2018-12-13 15:47] #20 closed

[2018-12-14 16:35] pgmsft commented on #43
Thank you for adding travis yml file. I have enabled build for this in travis now.

[2018-12-14 16:35] #43 closed

[2018-12-17 10:32] piotrzarycki commented on #24
Ok, i can handle it :)

[2018-12-17 12:14] edsoncelio opened #49 "Add docker support"
- [ ] Add `Dockerfile`
 - [ ] Add usage in Readme

[2018-12-17 13:10] pgmsft commented on #24
I cleaned up the code a little bit already and given that server starts listening on all the ports in parallel, using interface was not helping.

Please see if you can pick up another issue like UDP latency testing.

[2018-12-17 16:52] #15 closed

[2018-12-17 16:53] #24 closed

[2018-12-18 15:59] #49 closed

[2018-12-18 21:50] sdwvit commented on #2
@pgmsft please updated readme/docs that macos is now supported

[2018-12-18 21:55] pgmsft commented on #2
Updated.

[2018-12-19 03:08] furiouslong commented on #21
Currently working on a pull request for this feature

[2018-12-19 11:59] pgmsft commented on #13
Thanks for working on this. One ask if to build this in a pluggable way such as advertise metrics over sockets or msgpack and then have separate clients for specific metrics system like Prometheus. Otherwise for each integration, we would need to modify Ethr code which is not scalable.

[2018-12-26 17:39] pgmsft commented on #21
@furiouslong are you working on this? If yes, can you look at this change: https://github.com/pgmsft/ethr/tree/feature/udpLatency ?

It still has some bugs, but something worth looking at before finalizing the changes.

[2018-12-28 17:44] pgmsft opened #57 "Support for HTTP requests/s"
This needs work to do HTTP requests from multiple threads to see how many requests/s it can push. This would be useful for testing performance of middle boxes like firewalls, proxies etc.

[2018-12-28 17:45] pgmsft opened #58 "Add support for HTTP latency testing"
This would be useful for testing performance of middle boxes like firewalls, proxies etc. This should be similar to TCP latency tests that measure request/response latency.

[2018-12-28 17:46] pgmsft opened #59 "Package for Debian/Ubuntu"
It would be great, if ethr can be packaged so it can be installed via apt install on Ubuntu.

[2018-12-31 01:40] SarwateShubham opened #60 "open /proc/net/snmp: no such file or directory"
**Test platform** : Windows 10 1809 (build 17763.195) running Ubuntu 18.04 using WSL
**Build type** : build using source
**Command run** : ethr -s -ui

**Issue**  : I get `open /proc/net/snmp: no such file or directory` in the errors section of the UI also in the CLI of the server and client when I try any bandwidth testing.

**Solutions tried**  :  Tried installing snmp, snmp-mibs-downloader.
![e

[2019-01-02 05:20] pgmsft commented on #60
It seems WSL does not have /proc/net/snmp so for now converting the error message to debug. This would prevent flooding of this message. We would look at a workaround later.

[2019-01-02 15:43] pgmsft opened #64 "Enhance external mode TCP ping support"
- Better goroutine synchronization for exit tracking
- Code cleanup for handling of warmup run
- Support for custom number of warmup connections
- Support for custom sleep between successive connections
- Option to select -4 or -6 to force IP version
- Logging the results in json format

[2019-01-04 23:39] pgmsft commented on #21
@SarwateShubham has a PR for this but the PR needs more work. Please chat with him and see if he needs help to enhance his PR to fix the issues mentioned above.

[2019-01-13 20:34] awkwardFish opened #69 "Use golang log module"
Shouldnt we use golang log module in order to have better logs, so we can see line number and file of message?

[2019-01-15 17:56] abraaocaldas opened #71 "Reverse Mode"
There is some way to a client to send packets to a server instead server to client?

In a simpler way, there a way to a client do upload, instead of download?

Thanks!

[2019-01-16 16:07] pgmsft commented on #69
It is already using golang log module to log output. However, since we output as JSON, few details are stripped out from the log. This is by design.

[2019-01-18 18:43] awkwardFish commented on #21
Currently the server is listening only on TCP ports. Do we need to change this implementation for UDP tests or this is by design?

[2019-01-20 15:32] #69 closed

[2019-01-20 17:14] pgmsft commented on #71
Fix this via #73

[2019-01-20 17:14] #71 closed

[2019-01-20 17:15] pgmsft commented on #71
Fix this via #73

[2019-01-24 08:02] MikhailKasimov opened #74 "Final summary on server and client sides"
Hello!

It'll be useful to have final, extended, summary on server and client sides instead of current brief.

E.g. for ```ethr -s ```:

[code]
E.g. for ```ethr -c <server_IP>```:

[code]

Doable?

Thanks!

[2019-01-24 10:27] MikhailKasimov opened #75 "-4 and -6 parameters are unrecognizable by ethr"
Hello!

Subj.

Despite on ```-4 ``` and ```-6 ``` parameters, described in ```README.md``` file in ```Common Parameters``` paragraph, they are unrecognizable by ```ethr``` and are not displayed in help-info on ```-h``` key and when ```ethr``` is given without parameters.

Use-cases I've tested on: ```./ethr -4 - s``` and ```./ethr -4 -c <server_IP_to_connect_to>```. Both of them return ```ethr```'

[2019-01-24 13:37] pgmsft commented on #75
Thanks for the report. Did you try the latest version or prebuilt binaries?

[2019-01-25 16:48] abraaocaldas opened #76 "Client error when testing more than one instance with same server"
Clients : Android 8 / Android 9 Pie
Server : Ubuntu Server 18.04

Compiled from latest commit : 65627a0

Steps to reproduce:

Start the server
Initialize the first client with ethr -c IP -p udp
Initialize the second client with ethr -c IP -p -r udp

second client will print this output:

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation

[2019-01-25 18:08] pgmsft commented on #76
There is a missing return statement in client. I would fix it later. Did you get the error message that duplicate session is rejected? Only one client from same machine for one type of test is supported currently. The server doesn't wait as it terminates the connection.

I am not sure about buffer filling problem. Can you provide more details?

[2019-01-25 18:31] abraaocaldas commented on #76
Oh, I see, well I tried with clients on different "machines" and I didn't get any error message about duplicated session.
By the way, TCP works fine even if there is different machines testing at same time, only UDP has this issue.

I double checked and the problem only happens on two clients connect to same server and perform the test at same time. 1-to-1 have no issue.

Thanks!

[2019-01-30 13:33] pgmsft commented on #75
This was happening because the build was v0.1 and these options were in latest source code, so you needed to build from source. I have now release v0.2.1 with pre-built binaries. Please use that build and it should work.

[2019-01-30 13:33] #75 closed

[2019-01-30 13:33] pgmsft commented on #76
Please note that -r is only supported for TCP. I would add validation, as well as fix the crashing bug soon.

[2019-01-30 13:43] pgmsft commented on #74
This would be a good enhancements. If someone can contribute, that would be great.

[2019-01-30 14:16] MikhailKasimov opened #77 "IP version output to display (server side)"
Hello!

IP version output to display, when server side is in use. E.g.:

[code]

[code]

[code]

[code]

Can be useful for dropping specified packets from client side. Personally, after some tests I have 0.5 ratio of initial connections due to multiple TCP6 ```CLOSE_WAIT``` connections (12 hours) in ```ss -tunlp``` output.

[2019-01-30 18:04] pgmsft commented on #77
We would look into adding the extra message for IP version. For the 0.5 ratio of connections, which test are you running? Connections/s?

[2019-01-31 13:43] pgmsft commented on #77
I see, can you elaborate on what you mean by 0.5 ratio? Also are you running ethr -c in a loop or with -d 0 to run it forever?

[2019-01-31 15:05] MikhailKasimov commented on #77
```what you mean by 0.5 ratio?``` --> 850-900 Mb falls down to 450-550 Mb.

 ``` Also are you running ethr -c in a loop or with -d 0 to run it forever? ``` --> in a loop.

Now I'm currently trying to reproduce it on ```0.2.1```. Will let you know after having (un-)success.

[2019-01-31 21:48] koushki opened #78 "Go module instead of dep"
Hi,

Wouldn't make more sense to use go-module instead of dep?

[2019-02-01 06:45] mytea003 opened #79 "client -r"
why (https://github.com/Microsoft/Ethr/files/2640289/ethr.zip) client not find -r .
Always remind me that there is no such parameter.

[2019-02-01 12:39] mcauto opened #80 "Suggestion about main package split, add test code."
Hello ! I like this project.

I want to contribute this project.

but it is difficult.

I think ethr has big main package.

Further, ethr doesn't have test code.

I think open source project should have test code.

Test code makes it easy to contribute and makes it guessing that main intending of project. then contributer can proper pull request.

And I think It can be split logger, server, client

[2019-02-02 12:02] pgmsft commented on #79
Please use the latest release: https://github.com/Microsoft/ethr/releases/tag/v0.2.1

[2019-02-02 12:14] pgmsft commented on #80
If someone can contribute changes for test code, I would accept the PR. The code base is small (~3000 lines) so no plan to break up in multiple packages right now.

[2019-02-02 12:17] pgmsft commented on #78
Could you elaborate why that would make more sense? Someone contributed the dep changes. As this is my first golang project,I still haven't gotten time to analyze all aspects. If there are good reasons and someone can submit a PR, I would accept it.

[2019-02-02 22:14] koushki commented on #78
Sure, go-module has direct support from Go command, also you are no longer depended to GOPATH directory, means you can work in any workplace you want 💃 ! but also some other reasons which maybe you can find it with better explanations here  https://github.com/golang/dep/issues/1959 (go-module vs dep) and https://golang.org/doc/go1.11#modules
I feel since it is officially a language feature, it wil

[2019-02-03 00:51] pgmsft commented on #78
@radu-matei You added dep support initially. Would you be ok if we move to go modules? Do you see any downsides?

@koushki I am fine with the change and agree with your assessment. Let's wait for 2 days for Radu to reply if he has any concerns, and then move forward. I assume travis integration etc. would work seamlessly with it, right?

[2019-02-03 11:37] radu-matei commented on #78
Hi, all!
There are a few thing I'd like to note around this change:

- it forces people to upgrade the Go version
- there are still subtle issues with modules which are continuously fixed through patch upgrades to Go
- `dep` is stable

That being said, modules are going to be the standard going forward, and it would make sense to add support.

If we test everything, make sure nothing breaks, and h

[2019-02-06 00:01] #79 closed

[2019-02-11 11:35] #80 closed

[2019-02-23 14:32] #78 closed

[2019-06-19 20:14] boyan-soubachov commented on #57
I'd be happy to take this on as a first issue. I'm guessing the problem addressed by this issue is to effectively incorporate network load testing of middle boxes through the use of multi-threading?

[2019-06-19 20:33] pgmsft commented on #57
Yes, this is for middle box testing. Sure, please take over and submit a PR.

[2019-06-19 20:38] boyan-soubachov commented on #57
Excellent! I just want to get your thoughts in terms of solution design:

I see the client already supports multi-threaded connections for the HTTP and HTTPS bandwidth tests. What did you exactly have in mind with this issue?

[2019-06-19 20:41] pgmsft commented on #57
Client is doing bandwidth based testing. For requests/s testing, it should generate requests from multiple threads of whatever size is specified by the user, and measure how many requests/s it is doing. The change should be relatively simpler and primarily around doing the correct measurements related to requests/s. For example, see difference between TCP bandwidth based tests and CPS based tests.

[2019-06-19 20:43] boyan-soubachov commented on #57
I see, that clears things up a lot; thank you! :+1:

[2019-06-19 21:09] boyan-soubachov commented on #57
P.S. Is there a reason you've kept everything in the `main` package or would you be happy for me to also start refactoring things?

I'm thinking of initially moving the client/s into their own package which can be imported by `main`.

[2019-06-19 21:36] pgmsft commented on #57
I am ok with refactoring. This was my first golang project, so that is the only reason for everything in one package :)

[2019-06-27 03:00] StydyOnce opened #86 "ethr as client no answer if server dont close link"
when i use ethr as client to test tcp connection,my server will not close session,then ehtr will only start one Conection but not thousands of connection

[2019-06-27 13:40] pgmsft commented on #86
Can you provide exact command you are using?

[2019-08-07 09:10] tujiaw opened #91 "centos6.5 ethr error"
CentOS release 6.5 (Final)

1.
[root@node172 ethr]# ./ethr -s
Listening on 9999 for TCP bandwidth tests
Listening on 9998 for TCP conn/s tests
Listening on 9996 for TCP latency tests
Listening on 9899 for HTTP bandwidth tests
Listening on 9799 for HTTPS bandwidth tests
Listening on 9896 for HTTP latency tests
Listening on 8888 for control plane
panic: runtime error: slice bounds out of range

goro

[2019-08-18 13:34] w910820618 opened #92 "How does ethr make computing PPS"
Hello, I want to ask how ethr calculates pps. I am a beginner, I don't know much about this. I hope I can get some advice.

[2019-08-18 13:45] #92 closed

[2019-08-27 07:16] boyan-soubachov commented on #91
The problem seems to be that the `/proc/net/dev` file format is not what we're expecting.

I've added logging and sanity checks to throw a proper error here: #93

[2019-08-28 06:32] #91 closed

[2019-08-31 21:33] nepeta-cataria opened #95 "Error: could not get network stats"
Hello.
The latest version built from f0074aeb3580492e611afed2c220db54f0d116a3 shows errors when launched as server:
`could not get network stats`
And also statistics section is empty when launched in UI mode.
Tested on Ubuntu 18.04

[2019-09-11 13:03] scrollins commented on #95
@nepeta-cataria are you saying you are seeing "could not get network stats"? when running a client test. I see the same error message when I have the server(`ethr -s -6`) running in a docker container and then try to run the ethr client in another docker container using the command `ethr -c server1 -m x -t b -n 10 -l 32KB -o bandwidth.txt`

[2019-09-13 17:37] boyan-soubachov commented on #95
Will have a look

[2019-09-13 17:50] boyan-soubachov commented on #95
My mistake, apologies. Will try and figure out a way of testing this in our TravisCI build.

@pgmsft , fix: https://github.com/microsoft/ethr/pull/96/files

[2019-09-15 17:15] boyan-soubachov commented on #95
@pgmsft : Amended fix (tested locally). https://github.com/microsoft/ethr/pull/97

[2019-09-16 15:03] scrollins commented on #95
Still seeing an issue. @boyan-soubachov ```root@occam-gateway-01:~# docker logs ethr
Listening on 9999 for TCP bandwidth tests
Listening on 9998 for TCP conn/s tests
Listening on 9996 for TCP latency tests
Listening on 9899 for HTTP bandwidth tests
Listening on 9799 for HTTPS bandwidth tests
Listening on 9896 for HTTP latency tests
Listening on 8888 for control plane
could not get network stats```

[2019-09-18 11:50] boyan-soubachov commented on #95
Thank you @scrollins , I will have a look as soon as possible

[2019-09-20 10:36] zixiyoulan opened #98 "Quality of Service (QOS) support"
hi,
is it will support QOS traffic later?

iperf3 support QOS on linux (-Q parameter), in windows there are another logical for QOS (https://docs.microsoft.com/en-us/windows/win32/api/_qos/)

[2019-09-22 08:24] boyan-soubachov commented on #95
@scrollins, mind pasting your output of `cat /proc/net/snmp` and `cat /proc/net/dev`?

[2019-09-23 13:20] scrollins commented on #95
This is my output as requested
[code]

[2019-09-24 18:36] scrollins opened #99 "TCP connection tests not supported with external client mode"
I'm getting the following error when trying to execute a tcp connection test
[code]
According to the [status](https://github.com/microsoft/ethr#status), it says that connection tests are supported

[2019-09-24 18:38] scrollins opened #100 "TCP Latency test are not supported for external client mode"
I'm getting the following error when trying to execute a tcp latency test
[code]
According to the [status](https://github.com/microsoft/ethr#status), it says that latency tests are supported

[2019-09-29 18:39] boyan-soubachov commented on #95
@scrollins. I've had a look. Please note that according to the README.md file, we only use the Docker container to *build* the binary of interest (linux/windows/mac).

As such _running_ `ethr` inside a docker container is currently unsupported. It also doesn't make much sense due to the added abstraction of the VM and could cause some measurement inaccuracies; even more so if the hypervisor you're

[2019-10-01 13:29] scrollins commented on #95
Noted. Since there was a docker file, I figured it was supported to run it inside of a container. I am now running the ethr server on Ubuntu 18.04 and I still see the same error message as initially reported. Let me know what output I need to provide you to troubleshoot. Thanks

[2019-10-01 17:21] scrollins commented on #100
I think I have figured out what the issue is. It looks like the latency tests are not supported when using the external client mode. I was able to get these working with running the ethr client on the same host as the server. Any plans to support this? The readme doesnt say anything about external client mode not supporting certain types of tests

[2019-10-01 17:22] scrollins commented on #99
I think I have figured out what the issue is. It looks like the connection tests are not supported when using the external client mode. I was able to get these working with running the ethr client on the same host as the server. Any plans to support this? The readme doesnt say anything about external client mode not supporting certain types of tests

[2019-10-01 17:27] pgmsft commented on #95
@boyan-soubachov Can you please take a look? I think this is due to the validation you added for parsing the net dev data.

We do support running in container as it is useful to measure performance of container itself.

[2019-10-01 17:48] boyan-soubachov commented on #95
Will have a look. Was just unaware as the readme specifies building it in a container rather than running.

[2019-10-01 18:27] boyan-soubachov commented on #95
@scrollins, I'm having trouble reproducing your issue.

The output of those 2 files you gave me would logically work with the code. I was also successfully able to bring up the docker-compose service: ```λ ~/go/src/github.com/microsoft/ethr/ bvs-#95-fix_net_stats_3* sudo docker-compose up
Creating ethr ... done
Attaching to ethr
ethr           | Listening on 9999 for TCP bandwidth tests
ethr

[2019-10-01 22:48] scrollins commented on #95
I pulled in your changes w/ the logging and rebuilt the binary. We aren't seeing the error anymore. Thanks for pushing up those changes!

[2019-10-01 23:37] scrollins opened #101 "Bandwidth tests for buffer size/packet size"
What's the behavior supposed to be for the buffer parameter on a bandwidth test?
 I've been taking tcpdumps thinking that it would increase the actual packet size but that doesnt seem to be the case. My test looks like
[code]
The packet length ramps up from 64 to 22848 and never changes based on what buffer size I give it. I saw an issue that was closed https://github.com/microsoft/ethr/issues/16.

[2019-10-02 01:11] #100 closed

[2019-10-02 01:11] scrollins commented on #100
Closing this since I was able to get it working w/ using external mode

[2019-10-02 01:12] scrollins commented on #99
Closing this since I was able to get it working w/ using external mode

[2019-10-02 01:12] #99 closed

[2019-10-07 17:12] boyan-soubachov commented on #95
@pgmsft, mind closing this issue?

[2019-10-07 17:18] boyan-soubachov commented on #13
@pgmsft, I'm thinking of picking this up. Any reason we would want to use gRPC vs piping to stdout with some machine-to-machine format specified by a command arg (e.g. `ethr -json | my_parsing_tool`).

The latter to me seems to follow the unix philosophy a bit better.

[2019-10-07 17:22] boyan-soubachov commented on #60
@pgmsft, This should be fixed with the new changes if I'm not mistaken?

[2019-10-07 18:03] pgmsft commented on #13
Ethr already emits all the logs via JSON and they go to a file, please feel free to make meaningful enhancements to it as needed.

[2019-10-07 18:05] #95 closed

[2019-10-07 18:06] boyan-soubachov commented on #13
I see. Would it satisfy this issue if we had an option to send that JSON output to stdout then?

[2019-10-07 18:07] pgmsft commented on #13
It might, not sure what takes to integrate with Prometheus here. Maybe, have an option to only emit metrics to stdout as the current file based output logs everything.

[2019-10-07 18:08] pgmsft commented on #60
I am not sure, someone would need to test in WSL.

[2019-10-07 18:10] boyan-soubachov commented on #13
👍. I think it would make sense to keep ethr as simple as possible and leave it up to the developer if they want to build custom integrations with it instead trying to support possible use cases as interfaces

[2019-10-11 14:14] boyan-soubachov commented on #60
WSL?

[2019-10-17 15:17] maxsharabayko opened #106 "UDP performance on server side"
Hi.
I am running a UDP network performance test with ethr.
The client reports sending speed, but the server reports only 0 bits/s. Why is that?

UDP/TCP ports 4200-4300 are open, so the traffic should pass. The same experiment with HTTP works well.

I need to know the speed of receiving,

### Server
`ethr -s -ports control=4287,tcp=4299,udp=4201,http=4289,https=4288`

[code]

### Client

`ethr -c

[2019-10-19 02:45] pgmsft commented on #106
Can you please delete ethrc.log and ethrs.log, rerun the test and share the newly generated log files from both server and client?

[2019-10-19 02:48] pgmsft commented on #101
Yes, I would be open to a PR on this, but not sure if this would work with TCP. TCP is a streaming protocol, so even if you use buffer as 64b, it may still create packets that are larger than 64 bytes by buffering multiple sends. Further, if you use larger size, say 64K, then depending upon if large send offload is enabled, TCP would still need to break packets in MSS sized segments.

[2019-10-19 02:49] pgmsft commented on #98
I will be open to a PR to support this.

[2019-10-19 02:50] pgmsft commented on #86
Since no details are provided, I am closing the issue. Please reopen if you still see the problem.

[2019-10-19 02:50] #86 closed

[2019-10-21 12:59] maxlovic commented on #106
@pgmsft Please check the attachment.
This time server had some non-zero value at the start.

[ethrc.log](https://github.com/microsoft/ethr/files/3750855/ethrc.log)
[ethrs.log](https://github.com/microsoft/ethr/files/3750856/ethrs.log)

[2019-10-21 14:33] pgmsft commented on #106
There seems to be some kind of NAT going on the traffic. I would suspect that is causing problem. Do you not see the problem if you use default ports?

[2019-10-22 10:53] maxlovic commented on #106
The experiments were performed in Azure. The latest one was between Ubuntu VMs, located in EU west and US west. So might be related to NAT.
Tried on a local switch, and both server and client report UDP throughput.

Are there any steps to make it work in Azure?
Not sure if default ports will help, but could be an option. Sadly, can't repeat the experiment in Azure soon enough.

[2019-12-09 08:08] nogarder77 opened #107 "Display unicode network interface name."
https://github.com/microsoft/ethr/blob/fe09eed5fbce59a67e03295019b6258a1d7f8d3f/ui.go#L165

Currently, unicode network interface name is not displayed correctly.
Please change the code
xoff++ ==> xoff = xoff + 2

Thanks a lot.

![if_err](https://user-images.githubusercontent.com/17287772/70418268-764ef200-1aa6-11ea-9e6c-f56b70d2ea74.png)

[2019-12-09 13:20] der-onkel opened #108 "Is this project still alive?"

[2019-12-24 07:27] boyan-soubachov commented on #108
We try and commit code when we have the spare time :)

[2019-12-27 10:06] der-onkel commented on #108
Glad to hear it.

[2019-12-27 10:06] #108 closed

[2020-04-28 20:32] natethinks opened #113 "Results on Mac differ greatly from results on Linux on the same network, Mac results are 20x higher than expected."
I am running a UDP bandwidth test on two devices on my network, testing speed to an external server I have set up.

My internet connection is pretty stable at ~300Mb/s and I'm on wireless so the Linux results seem accurate, the Mac OS results are pretty far off though.

This is the command I am running.
`ethr -c {external} -t b -p udp -l 8kb`

These are the results.
Ubuntu 19.10:
[code]

Mac OS 10

[2020-06-19 15:36] pgmsft commented on #113
@natethinks You should measure UDP results on the receiver side. UDP allows sender to send more data than receiver can handle, so client side is showing data it is sending, while server will show data that is actually being received based on actual network bandwidth. It is also possible for different OS to have different send performance.

[2020-07-16 19:26] #113 closed

[2020-07-29 21:45] Shanfang opened #116 "Is UDP bandwidth test supported?"
Thanks for making this great tool. I am using this to test some UDP traffic. This is not exactlly an issue, just want to get some confirmations. It is marked in the status that UDP bandwidth is YES(I believe this indicates that UDP bandwidth test is supported). But UDP bandwidth is also mentioned in the TODO list. I want to use this bandwidth test feature for UDP. Can someone please help clarify i

[2020-08-10 20:50] maceip opened #117 "(mac & windows clients) localhost latency tests work, over network they do not..."
might be a firewall issue or a mixed client issue but I can't get the latency (tcp or http) tests to work:

client (mac), server (windows), both compiled from master.

over network:

client$ ./ethr -t l -c $server -p tcp
-----------------------------------------------------------
     Avg      Min      50%      90%      95%      99%    99.9%   99.99%      Max
Ethr done, duration: 10s.

server$
Sta

[2020-08-12 04:42] pgmsft commented on #117
This is most likely Firewall issue.

[2020-08-12 04:44] pgmsft commented on #116
UDP bandwidth test is supported. UDP latency test is not supported.

[2020-08-13 23:23] Michaelhobo opened #118 "Feature Request: Support calling ethr as a library"
Would you be open to extracting some sort of API for non-CLI use cases? Perhaps extract the business logic into a library and have the CLI options just change the parameters going into the library.

[2020-08-24 02:19] qzheng527 opened #119 "Feature Request: Add worst latency display when doing latency test"
Currently there is only max latency value which is for that period.
I have to do data dig to find out the worst latency value for whole test duration.

[2020-08-25 22:52] Shanfang opened #120 "Client side runtime error"
I got below runtime err while starting client with this command: **ethr.exe -c 100.0.1.4 -p tcp -ports control=8060,tcp=8080,udp=8000,http=9000,https=9090 -t l**
Any idea what is going on here and how to fix it?

panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xc0000005 code=0x0 addr=0x0 pc=0x6893e7]

goroutine 1 [running]:
main.establishSession(0x200000000, 0x3e80

[2020-08-25 22:54] Shanfang commented on #116
Thanks, but I am not seeing 0 bits on service side. I noticed there is an open issue mentioning that this could be related to NAT. There is NAT happening in my case.

[2020-08-27 21:37] gbrancovici-samsung commented on #100
How?

[2020-08-27 21:39] gbrancovici-sam commented on #100
Hi, how?

[2020-08-29 00:06] maceip commented on #117
I just tried again with 2 windows hosts with public IP's, both firewalls off. Is there a preferred way to test latency with two publicly addressable machines on the internet? I'm not sure what external mode actually does or if I should be using it.

Again i'm doing (where the server IP address is public and sane):

server$ ethr.exe -s
client$ >ethr.exe -t l -c 50.60.70.80 -p tcp

server spits out:

[2020-08-29 03:20] pgmsft commented on #118
Yes, that would be really good. If you can submit a patch, I can incorporate it.

[2020-08-29 03:21] pgmsft commented on #117
I will take a look at this later today.

[2020-08-29 03:50] pgmsft commented on #120
I will look at it, which version are you using?

[2020-08-31 05:04] pgmsft commented on #116
Most likely NAT would cause this problem. I would need to check with NAT in picture, I haven't done that yet. Can you test without NAT?

[2020-08-31 05:05] pgmsft commented on #107
Can you please submit a patch?

[2020-08-31 20:52] maceip commented on #117
hosts are:windows server 2012 R2 and windows server 2019, haven't tested on linux

[2020-08-31 23:23] pgmsft commented on #117
What is the latency do you see between these machines using regular ping as an example? Is it <1ms?

[2020-09-01 01:41] maceip commented on #117
192ms

all other ethr tests work between these two hosts, aside from latency using
either tcp or http

On Mon, Aug 31, 2020 at 4:23 PM Pankaj Garg <notifications@github.com>
wrote:

[2020-09-01 01:44] maceip commented on #117
using debug output i'm seeing connection errors on most tests, but they
complete:

C:\ethr>ethr.exe -t c -c 50.60.70.80 -p tcp -debug
- - - - - - - - - - - - - - - - - - - - - - -
Protocol    Interval      Conn/s
  TCP      000-001 sec         2
  TCP      001-002 sec         4
  TCP      002-003 sec         5
  TCP      003-004 sec         4
  TCP      004-005 sec         4
  TCP      005-006 sec

[2020-09-01 01:51] maceip opened #121 "documentation for external mode..."
it's not clear what external mode does, or when it should be used; both for the client and the server. I might look at the source and submit a pull request to better explain it when I get some free time.

[2020-09-03 07:20] nogarder77 commented on #107
I tested it with change above, and it fix the problem.

[2020-09-03 08:23] pgmsft commented on #121
External mode is for standalone usage where you use Ethr as a server but use a non-Ethr client, or vice versa.

Example, say you want to measure connection latency to www.microsoft.com, you can do:
ethr -m x -c www.microsoft.com:443 -t cl -4 -g 1s

This would measure TCP connection latency to microsoft.com at every 1s interval.

[2020-09-03 08:28] pgmsft commented on #107
Can you please submit a pull request? I can merge it. Otherwise I will add the change in few days when I get a chance.

[2020-09-04 01:27] nogarder77 commented on #107
Please ignore this issue, I tested with latest source code, it display UTF8 interface name.
![ethr_test](https://user-images.githubusercontent.com/17287772/92189207-16507500-ee99-11ea-9861-26ec8fadeaa5.png)

[2020-09-04 01:27] #107 closed

[2020-09-15 22:19] BradErz opened #124 "Feature request: add mtr support"
Would it be possible to consider adding mtr support across the different protocols? obviously mtr support on linux is pretty first class. But on windows trying to get a tcp mtr output requires installing npcap and https://github.com/0xcafed00d/tracetcp.

It would be amazing to see the support added.

[2020-09-21 16:16] shmsr commented on #13
So if anyone's not currently working on this, I'd like to make a proposal. What if we write an exporter which can parse the dumped json and export it in the Prometheus's exposition format. Exporter will be an independent tool (hence, pluggable) which can be used as per requirement.

Prometheus can then scrape from the port exposed by the exporter. That very tool can be further extend to send metri

[2020-09-22 23:25] pgmsft commented on #13
@shmsr  That will be great. Can we also have Ethr expose metrics to stdout or over a network port?

[2020-09-22 23:31] pgmsft commented on #124
What is mtr?

[2020-09-23 19:52] shmsr commented on #13
Yeah, it's possible. I'll try not to touch the `ethr` at all. The JSON format in which it's writing to the `*.log` file seems good enough. So, what the exporter would do is that it'll serve the metrics on a HTTP endpoint (eg. localhost:8000/metrics). And the best part of the Prometheus's exposition format is that it's human readable.

So, the exposition format looks like below:
[code]

So, a metri

[2020-10-19 10:45] QiAnXinCodeSafe opened #129 "Bad operator code: "+" should be ",""
https://github.com/microsoft/ethr/blob/58c80e3e6e459d37813051a5fb4d53f8bd8fd86b/ethr.go#L133

[2020-11-10 13:38] pgmsft commented on #129
#130 fixed it.

[2020-11-10 13:38] #129 closed

[2020-11-10 13:39] pgmsft commented on #124
ICMP mtr support is added. TCP/UDP may get added later.

[2020-11-10 13:39] #124 closed

[2020-11-10 13:40] pgmsft commented on #121
#130 fixes it.

[2020-11-10 13:40] #121 closed

[2020-11-10 13:41] pgmsft commented on #120
I am not able to repro, please try on latest version.

[2020-11-10 13:41] #120 closed

[2020-11-10 13:42] pgmsft commented on #116
I am closing the issue due to inactivity. Please reopen if you still see the problem.

[2020-11-10 13:42] #116 closed

[2020-11-10 13:44] #77 closed

[2020-11-10 13:46] #101 closed

[2020-11-10 13:47] #106 closed

[2020-11-10 13:48] pgmsft commented on #64
#130 fixes it.

[2020-11-10 13:48] #64 closed

[2020-11-10 13:49] #76 closed

[2020-11-25 05:34] aymanhs opened #134 "Typo in error message"
The error message prints: "Failed to looup IP address for the server"

in v0.9.0

[2020-12-01 02:21] pgmsft commented on #134
#135 fixes this.

[2020-12-01 02:21] #134 closed

[2020-12-04 09:32] ilTofa opened #138 "go get installation fails on macOS 11"
It could be a capitalization problem in go.mod

[code]

[2020-12-04 09:35] ilTofa commented on #138
Sorry, no... it's just a capitalization error in the readme: `go get github.com/microsoft/ethr` works as expected

[2020-12-04 09:35] #138 closed

[2020-12-04 15:46] orware opened #139 "IP Parameter Not Allowed for Server Mode"
The docs mentions an `-ip` parameter is allowed for the Server Mode so it can bind to a specific IP, but when trying that out, ethr outputs back the help documentation (because it's not an allowed parameter within the program, and the docs it outputs to me directly at that point also reflect that since the `-ip` parameter is missing in that output).

This is with the current Windows client (v.0.90

[2020-12-04 15:56] orware opened #140 "Long-Running Test to Gather Statistics Throughout a Whole Day"
This would be an interesting feature to have available:

Basically, I've ran iperf and also ethr between a pair of servers (one in the cloud and one in our local environment) on a number of occasions because I'd like to get a sense of the overall bandwidth available for the private connection between the two points.

In my earlier iperf tests (the first was a few months back and a more recent one

[2020-12-05 00:07] pgmsft commented on #140
Is it not possible to write a shell script that runs "ethr -c" periodically with a desired duration (using -d)? Ethr results are already logged in JSON file so a tool can process them, though such tool would need to be written.

If you are getting 350Mbps using TCP, then there is nothing incorrect about it. The difference might come purely based on how these two applications are written or buffer

[2020-12-05 15:22] pgmsft commented on #139
This is available in latest release. Thanks.

[2020-12-05 15:22] #139 closed

[2020-12-05 15:23] pgmsft commented on #98
We have added support for setting TOS bits in IP header. Does that address this issue?

[2020-12-05 20:18] opsec opened #142 "Feature request: fix build on FreeBSD"
Right now the build fails with:

./client.go:184:4: undefined: VerifyPermissionForTest
./client.go:187:4: undefined: VerifyPermissionForTest
./client.go:196:3: undefined: VerifyPermissionForTest
./client.go:576:12: undefined: IcmpNewConn
./client.go:791:12: undefined: IcmpNewConn
./serverui.go:87:2: undefined: hideCursor
./serverui.go:88:2: undefined: blockWindowResize
./stats.go:32:2: undefined:

[2020-12-17 06:34] bgianfo opened #143 "Update nuget package?"
Can an updated version of the nuget package get published, last version was published 10 months ago?

https://www.nuget.org/packages/Ethr/

[2021-03-12 07:44] isfukuda opened #145 "How to use ethr under Proxy environment."
Hello Expers.
I need help to use ethr Under Proxy environment.

  ethr (client) == [tcp proxy , tcp/8888] == ethr (server , tcp/8888)

Is there any way ?
Thanks in advance.

[2021-03-25 15:51] wolruf opened #146 "Discrepancy between server and client side bandwidth on AWS EC2"
I've seen this consistently using EC2 instances on AWS, for e.g using Amazon Linux 2 on c5.xlarge which is documented to support 5Gbps single flow and up to 10Gbps multi flows.
I'm testing single flow as it's the easiest way to reproduce the issue.

Client side is using ethr built from source on March 25th:
[ssm-user@ip-172-31-10-116 ethr]$ uname -a
Linux ip-172-31-10-116.eu-west-3.compute.interna

[2021-03-31 08:49] jefvantongerloo opened #147 "go get wrong module path"
**Current command:**
`go get github.com/Microsoft/ethr`

Output:
[code]

**Fixed command:**
`go get github.com/microsoft/ethr`

Output:
[code]

Make sure to clean cache when module is already downloaded:
`go clean -modcache`

[2021-03-31 08:51] jefvantongerloo commented on #147
Fixed in PR: https://github.com/microsoft/ethr/pull/148

[2021-04-13 08:49] zhangguorong1995 opened #149 "For - C connections/s mode, how to select the range of client source port?"
My system is CentOS 7.6. I would like to know how to determine the source port range when testing concurrency. And what is the upper limit

[2021-04-30 19:43] hwinkel opened #152 "path MTU"
Hi,

is there any plan or idea to figure out the path MTU between client and server?

[2021-04-30 19:43] hwinkel opened #153 "SCTP Support"
HI, do you plan to add SCTP Support

[2021-05-12 13:05] windcbf commented on #152
+1 request

[2021-05-13 13:46] moonfruit opened #154 "Can not build from source"
Can not build from source.

Output:

[code]

[2021-05-14 05:04] zeealpal opened #155 "UDP MTU"
Hi,

Are there any plans to limit the MTU for UDP Bandwidth tests? Running some tests over a failover connection that uses a VPN, when switching to the VPN the UDP results are erratic/non existent. TCP is fine, but the traffic we have is UDP.

We normally restrict the MTU to 1432 when testing over a VPN.

Cheers

[2021-06-25 17:40] DanielNeto opened #158 "IP ToS option is not working"
Hi,

It seems the `-tos` option is not working. I built the lastest release using the Dockerfile provided in the code and ran a client and server container based on centos 7. When inspecting the packets from the client, the ToS field in the IP header was not set.

I ran the server and client as following:

Dockerfile to test:
[code]

Server:
[code]

Client:
[code]

I inspected the packets in the d

[2021-08-05 23:53] kc8viq opened #159 "Win10 to Win10 on local LAN always immediately finishes despite duration"
Running "ethr -c 172.16.2.99" for example, to connect between Win10 PCs on local LAN always yields "Ethr done, connection terminated" as soon as I run it. Works perfectly fine when connected to between server/client on the same PC (-s and -c on localhost). But using the network doesn't work. Windows Firewall is set to allow, the server process logs a connection for a split second. Client never rea

[2021-10-05 08:43] escapezn opened #161 "http/https protocol is unavailable in 1.0.0"
I use `-p http` as client modebut it gave `Error: Invalid value "http" specified for parameter "-p".`. Https protocol doesn't work either.

This problem affects since 0.9.0, while 0.2.1 is OK

[2021-10-12 00:22] brianyang219 opened #163 "TCP Buffer Size inconsistencies"
I am running a bandwidth test between a server-client pair along a one-hop path. The bandwidth test is of maximal capacity. I am testing different TCP buffer sizes in order to obtain optimal client-side data-rates. However, I noticed that the server-side data-rates are multiplicatively larger than the client-side data-rates, in an unusual way, for larger TCP buffer sizes. For instance, at a TCP bu

[2021-11-01 00:50] dtaht opened #164 "rrul style test"
flent.org's infamous rrul test is what the bufferbloat project has used to measure latency under load for a very long time. Is it possible to implement something like that in ethr?

[2021-11-01 00:53] dtaht opened #165 "Apple's new network responsiveness test"
Apple has also been trying to get more networks to have less queueing and be more responsive. Their new test, called "networkQuality" just shipped, and the ietf draft specification for it is here:

https://github.com/network-quality/draft-cpaasch-ippm-responsiveness

[2021-11-02 10:38] timchown opened #166 "No way to specifcy an interface as per -B in iperf"
Hi,

It would be really useful to be able to specify an interface for tests when you have multiple interface systems, e.g. when using Ethr as a perfSONAR plugin and you have a server with a throughput, latency and management interface and you want Ethr on the throughput interface.

The alternative is messy host routes.

Thanks!
Tim

[2021-11-05 08:41] zixiyoulan commented on #98
sounds it didn't work.
same issue https://github.com/microsoft/ethr/issues/158 report

[2021-11-10 07:36] VijaySwaminathan opened #167 "Ethr Tool does not work on RHEL"
Hi Everyone,
I'm trying to use Ethr to send some tcp traffic across two machines. one is running Centos and the other is running RHEL.
Actually I'm unable to get Ethr to run on the RHEL machine.

[root@localhost ~]# cat /proc/version
Linux version 4.18.0-240.15.1.el8_3.x86_64 (mockbuild@x86-vm-07.build.eng.bos.redhat.com) (gcc version 8.3.1 20191121 (Red Hat 8.3.1-5) (GCC)) #1 SMP Wed Feb 3 03:12:

[2021-11-13 19:35] VijaySwaminathan commented on #167
kindly ignore this thread. I re-installed again and it works perfectly fine

[2021-11-29 06:34] leipore opened #168 "client paramet "-T" cannot work"
![image](https://user-images.githubusercontent.com/17704595/143819611-4383b522-b4be-4f04-a4c1-2a67b0661df0.png)

[2021-12-18 22:51] entr0pee opened #169 "ETHE does not work on Alphine"
# ./ethr
-ash: ./ethr: not found

Is this because the MUSL LIBC?

How can I compile ethr on Alphine?

[2021-12-20 11:22] lyf-8023 opened #170 "What is the bandwidth measurement scheme used by Ethr？"
Does Ethr measure bandwidth in packet pair mode?

[2022-02-10 04:09] fanqiehc opened #171 "Bandwidth measurements are not accurate"
The bandwidth gap between server and client is around 10% .
[code]

[code]

[2022-03-14 01:36] pgmsft commented on #171
Could you please share latency information between server and client? I will try to reproduce this problem on my side.

[2022-03-14 01:40] pgmsft commented on #168
Could you please provide more details? Title is only used for logging information in the log file and not for screen printing.

[2022-03-17 12:45] juyamagu commented on #169
I can repro your issue with the following:

[code]

Substituting the image with this worked for me, so I think your guess is right. You may be able to solve the issue by installing `glibc` by yourself.

https://github.com/Docker-Hub-frolvlad/docker-alpine-glibc

[2022-03-18 10:56] wolruf commented on #146
https://github.com/microsoft/ethr/pull/162 may fix this, will test and report

[2022-03-18 15:20] wolruf commented on #146
Fixed via #162

[2022-03-18 15:20] #146 closed

[2022-06-21 06:38] difficultwork commented on #171
@pgmsft
I have same problem.
[code]

[code]

[2022-07-14 17:01] KurtSchenk opened #175 "Support for request/response (with TCP connection remaining open)"
We want to simulate database traffic which is request/response, but the TCP connection remains open. Can this be simulated, and support multiple clients (we need 500).?

[2022-07-26 10:22] weinimo commented on #161
I can confirm this. Is there any progress on this?

[2022-08-10 19:05] AvrumFeldman commented on #171
I have the same issue.

Client side
[code]

But on server side I get quite a different number
[code]

Following is a latency test between the same two hosts
[code]

[2022-08-16 11:48] wolruf commented on #171
you may want to try this patch: https://github.com/microsoft/ethr/commit/eb6df4d72c5a3352afe21fe959471249631c1f9b it fixed an inaccurate bandwidth reporting in my case.

[2022-09-01 18:05] microsoft-github-policy-service[bot] opened #177 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-11-02 17:12] grayaw opened #178 "Server ip parameter does not accept IPv6 addresses, but says it should:"
Examples:

[code]

[2022-11-28 19:10] #177 closed